body{
    background-color: whitesmoke;
}

.main-page{
    

    .main-content{
        display: flex;
        justify-content:start;
        
        width: 80%;
        height: 70vh;
        

        .controls{
            width: 20%;
            margin-right: 50px;
            margin-left: 20px;
            background-color: yellow;
        }
        .flashcard-container{
            width: 60%;
            background-color: blue;
        }
    }
}