.quiz-main-page{
    color: $darkslategray;
    h4{
        padding-left: 20px;
        font-weight: bolder;
    }

.quiz-main-content{
    display: flex;
    justify-content: flex-start;
    color: $darkslategray;
    width: 80%;
    height: 70vh;
    
     
    .quiz-controls-container{
        width: 30%;
        margin-right: 50px;
        margin-left: 20px;
        padding-left: 1rem;
        background-color: white;
        border-radius: 5px;

        .flashcard-icon {
            color: $darkcyan;
            font-size: 2rem;
            margin-right: .5rem; 
        }
        .flashcard-name{
            position: relative;
            top: -6px;
        }
        .progress-container .progress-bar{
            height: 1rem;
            width: 50%;
            background-color: $lightsteelblue;
            border-radius: 0.5rem;
        }
        .progress-container{
            margin-top: 50px;
            .progress-text{
                width: 90%;
                display: flex;
                justify-content: space-between;
                text-transform: uppercase;
                margin-top: 5px;
            }
        }
        .quit{
                
        padding: 1rem 0;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        .quit-button{
            color: whitesmoke;
        }
       
        }
        .select-container{
            width: 90%;
            margin-top: 2rem;
            .select-lesson{
                height: 5px;
            }
        }
    }

    .word-container{
            width: 60%;
            background-color: white;
            box-shadow: 5px 5px  10px #7D7877 ;
            border-radius: 5px;

            // slide enter
            .slie-enter{
                opacity: 0;
                transform: scale(0.97);
                z-index: 1;
            }
            .slie-enter.slie-enter-active{
                opacity: 1;
                transform: scale(1);
                transition: opacity 300ms linear 100ms, transform 300ms ease-in-out 100ms;
            }

            // slide-exit
            .slide-exit{
                opacity: 1;
                transform: scale(1);
            }
            .slide-exit.slide-exit-active{
                opacity: 0;
                transform: scale(0.97);
                transition: opacity 150ms linear, transform 150ms ease-out;
            }
            .slide-exit-done{
                opacity: 0;
            }
            
            .choose-lesson{
                text-align: center;
                text-transform: capitalize;
                font-weight: bolder;
                font-size: 2rem;
                margin: 15%;
            }

            .word {
                height: 50%;
                
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight:bolder;
                font-size: xx-large;
                text-transform: uppercase;
                padding-top: 5rem;
            }

            .answer-container{
                
                margin-top: 5rem;
                text-align: center;
                
                

                .answer{
                    margin-bottom: 5px;
                    
                    
                    
                    p{
                        
                        border: 1.5px solid  #3ccfcf;
                        border-radius: 5px;
                        padding:8px;
                    }
                    :hover{
                        border: 1.5px solid #ffca08;
                        cursor: pointer;

    
                    }
                    
                }
                
            }
    }
}
}




//Media Query:
@media(max-width: 414px){
    .quiz-main-page{
        h4{
            font-weight: bold;
            font-size: x-large;
        }
    
    .quiz-main-content{
        width: 95%;
        height: 60vh;
        
         
        .quiz-controls-container{
            width: 35%;
            // margin-left: 15px;
            margin-right: 10px;
            .progress-container{
                margin-top: 30px;
                .progress-text{
                   .progress-word{
                    font-weight: bold;
                    font-size: x-small;
                   }
                   .progress-number{
                       font-size: x-small;
                   }
                }
            }
           
           
            .select-container{
                width: 90%;
                margin-top: 2rem;
                .select-lesson{
                    height: 5px;
                }
            }
        }
    
        .word-container{
             
                .choose-lesson{
                    padding-top: 25px;
                    font-size: 1.5rem;
                
                }
    
                .word {
                    height: 25%;
                    font-size:large;
                
                }
    
                .answer-container{
                    
                    margin-top: 4rem;
                    
                }
        }
    }
    }
    
    

}