* {
    padding: 0;
    margin: 0;
}

.toast-valid {
    background-color: yellowgreen;
    color: whitesmoke;
    font-weight: bold;
}
.toast-invalid{
    background-color: #f44336;
    color: whitesmoke;
    font-weight: bold;
}

